html, body {
  border: 0;
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background: #555555;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

form {
  background: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  font-family: lato;
  position: relative;
  color: #333;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
}

form header {
  background: #33cc33;
  padding: 30px 50px;
  color: #000099;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
  text-align: center;
  vertical-align: center;
}

h2 {
  background: #33cc33;
  padding: 30px 50px;
  color: #000099;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
  text-align: center;
  vertical-align: center;
}

.output_box {
  background: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  font-family: lato;
  position: relative;
  color: #333;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;

}

/*form label {
  margin-left: 20px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 5px;
  position: relative;
}*/
/*form label span {
  color: #FF3838;
  font-size: 1em;
  position: absolute;
  left: 2.3em;
  top: -10px;
}
*/form input {
  display: block;
  width: 78%;
  margin-left: 20px;
  padding: 5px 20px;
  font-size: 1em;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ccc;
}

form .help {
  margin-left: 20px;
  font-size: 0.8em;
  color: #777;
}

form button {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: inherit;
  color: #000099;
  background: #33cc33;
  outline: none;
  border: none;
  padding: 5px 15px;
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
form button:hover {
  background: #ff5252;
}

form input[type="checkbox"] {
  font-size: 0.8em;
  color: #777;
  display:inline-block;
  position: absolute;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  width: initial;
}

form input[type="checkbox"] + label {
  display:inline-block;
  position: absolute;
  margin-top: 5px;
  margin-bottom: 0px;
  position: relative;
  justify-content: left;
}

form input[type="submit"] {
  background: #33cc33;
}

form input[type="text"] {
  margin-right: 20px;
}

form p {
  margin-top: 0px;
  margin-bottom: 0px;
}

table tr td span.notice {
  margin-left: 20px;
  font-size: 0.2em;
  color: #ffff00;
}

.text_label {
  margin-left: 20px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
}

/* if desktop */
.mobile_device_380px {
  display: none;
}
.mobile_device_480px {
  display: none;
}


/* if mobile device max width 380px */
@media only screen and (max-device-width: 380px) {
  .mobile_device_380px{display: block;}       
  .desktop {display: none;}
} 

/* if mobile device max width 480px */
@media only screen and (max-device-width: 480px) {
 .mobile_device_480px{display: block;}
 .desktop {display: none;}
}
